**Tabular Time Series Lesson Series:** This lesson is part of a lesson series on
[tabular time series data in R ]({{ site.baseurl }}self-paced-tutorials/tabular-time-series).
It is also part of a larger
[spatio-temporal Data Carpentry workshop ]({{ site.baseurl }}self-paced-tutorials/spatio-temporal-workshop)
that includes working with
[raster data in R ]({{ site.baseurl }}self-paced-tutorials/spatial-raster-series)
and
[vector data in R ]({{ site.baseurl }}self-paced-tutorials/spatial-vector-series).
